<web-app>
    <welcome-file-list>
        <welcome-file>/pages/index.html</welcome-file>
        <welcome-file>/pages/announce_form.htm</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>
            ru.job4j.cartrade.listeners.DBManagingListener
        </listener-class>
    </listener>

    <servlet>
        <servlet-name>AnnouncementsList</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.ShowAnnouncements</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AnnouncementsList</servlet-name>
        <url-pattern>/announces-list</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowPhoto</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.ShowPhotoController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPhoto</servlet-name>
        <url-pattern>/photos/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FilteredAnnounceList</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.FilterAnnounceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilteredAnnounceList</servlet-name>
        <url-pattern>/filter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignIn</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.SignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignIn</servlet-name>
        <url-pattern>/sign_in</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckSession</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.UserSessionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckSession</servlet-name>
        <url-pattern>/check_session</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/sign_up</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Transmissions</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.GetTransmissionsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Transmissions</servlet-name>
        <url-pattern>/transmissions</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Bodies</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.GetCarBodiesController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Bodies</servlet-name>
        <url-pattern>/car_bodies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Announce</servlet-name>
        <servlet-class>ru.job4j.cartrade.controllers.AnnounceController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Announce</servlet-name>
        <url-pattern>/add_announce</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ShowAnnounceFilter</filter-name>
        <filter-class>ru.job4j.cartrade.controllers.filter.AddAnnounceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShowAnnounceFilter</filter-name>
        <url-pattern>/add_announce</url-pattern>
    </filter-mapping>
</web-app>