<web-app>
    <servlet>
        <servlet-name>Users View Controller</servlet-name>
        <servlet-class>ru.job4j.sj.servlets.UsersViewController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users View Controller</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Add User Controller</servlet-name>
        <servlet-class>ru.job4j.sj.servlets.AddUserController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add User Controller</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Edit User Controller</servlet-name>
        <servlet-class>ru.job4j.sj.servlets.EditUserController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Edit User Controller</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Delete User Controller</servlet-name>
        <servlet-class>ru.job4j.sj.servlets.DeleteUserController</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete User Controller</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SigninController</servlet-name>
        <servlet-class>ru.job4j.sj.servlets.SignInController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SigninController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.sj.servlets.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>